div.card-subtext {
    font-family: "Poppins", serif;
}

div.main-container {
    position: relative;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card-icon {
    transition: transform 0.3s ease-in-out;
}

div.main-container:hover .card-icon {
    transform: translateY(-5px);
}
